/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*-------------------------- CSS Starts Here----------------------------*/

body {
    background: url('./img/body-bg.jpg') no-repeat fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: -1;
}

.main-wrapper {
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 6em;
    min-height: 720px;
    background-image: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
}

.container {
    padding: 0 15px;
}

.header-wrapper {
    position: relative;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 0;
    width: 100%;
}

#logo {
    width: 7.5em;
    height: 2.0em;
    background: url('./img/logo.png') no-repeat;
    text-indent: -10000px;
    float: left;
}

.nav-container {
    float: right;
    margin-top: 6px;
}

.nav-container nav h2 {
    height: 0;
    text-indent: -10000px;
}

.nav-container nav ul {
    list-style-type: none;
}

.nav-container nav li{
    float: left;
    margin-right: 60px;
}

.nav-container nav li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.nav-container nav li a:hover {
    color: #fff;
}

header::after {
    content: "";
    display: block;
    clear: both;
}

#imagine-section .imagine-container {
    position: relative;
    height: 600px;
}
#imagine-section .imagine-contents {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    text-align: center;
}
.imagine-contents span,.imagine-contents h1 ,  .offer-service span {
    text-transform: uppercase;
    color: #fff;
}
.imagine-contents section span, .offer-service span{
    font-size: 14px;
    font-weight: lighter;
}
.imagine-contents section h1 {
    margin: 12px 0 20px 0;
    font-size: 2.4em;
    font-weight: normal;
}

.imagine-contents section:not(a){
    text-transform: none;
} 
.imagine-contents section a {
    text-decoration: none;
    display: block;
    width: 28%;
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 1em;
    color: #fff;
    background: transparent;
    margin: 0 auto;
    padding: 14px 0;
}

.imagine-contents section i {
    font-size: 14px;
    padding-left: 12px;
}

.imagine-contents section a:hover {
    background: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    border: 1px solid transparent;
}

#featured-area {
    background: #fff;
    padding: 70px 0 80px 0;
}

#featured-area > h2 {
    height: 0;
    text-indent: -10000px;
}

#featured-area ul, .services-row ul {
    list-style-type: none;
}

#featured-area ul li {
    width: 32%;
    float: left;
}

#featured-area ul li:nth-child(2){
    margin: 0 2%;
}

#featured-area::after {
    content: "";
    display: block;
    clear: both;
}

#featured-area .feature-box {
    width: 60px;
    height: 60px;
    float: left;
    border: 1px solid #ccc;
    position: relative;
}

#featured-area .feature-box i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8em;
    color: #e66587;
}

#featured-area .feature-box::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: -webkit-linear-gradient(0deg, #e66587 0%, #f09458 100%);
    position: absolute;
}

#featured-area .desc {
    float: right;
    width: 68%;
    
}

#featured-area .desc h2 {
    margin: 20px 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9em;
}
#featured-area .desc p{
    color: #777777;
    line-height: 1.2em;
    font-weight: lighter;
}

#featured-area::after{
    content: "";
    display: block;
    clear: both;
}

#services {
    padding: 100px 0;
}

#services .offer-service {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.offer-service h2 {
    color: #fff;
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: lighter;
}

.services-row li img {
    width: 100%;
}

.services-row li {
    width: 22%;
    float: left;
    margin-right: 3%;
    margin-top: 5%;
}

.services-row .desc {
    margin-top: 20px;   
    color: #fff;
}
.services-row .desc p {
    font-size: 0.8em;
    line-height: 1.4em;
}
.services-row h2 {
    margin-bottom: 10px;   
}
.services-row::after{
    content: "";
    display: block;
    clear: both;
}